<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>True or false by Red Hat</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="author" content="Sebastian Dehn">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>Welcome to Red Hat's true or false game!</h3>
        <form id="playerForm" name='playerForm' method="POST" action="/">
          <input id="player" name="player" type="text" value="{{name}}" required></input>
          <button id="login" type="submit" name="login">Login</button>
        </form>
        <form id="startForm" name='startForm' method="POST" action="/wait">
          <button id="start" type="submit" name="start">Start</button>
        </form>
        <div id="hostname">
          Processed by container ID {{hostname}}
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    
    <script>
      var name = "{{name}}";

      if(name == ""){
        $(".player").prop('disabled', false);
        $(".login").prop('disabled', false);
        $(".start").prop('disabled', true);
        $(".start").css('opacity','0.5');
      }else {
        $(".player").prop('disabled', true);
        $(".login").prop('disabled', true);
        $(".start").prop('disabled', false);
        $(".player").css('opacity','0.5');
        $(".login").css('opacity','0.5');
      }
    </script>
  </body>
</html>
